@import "sccs/fonts";
@import "sccs/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: $proxima-nova-regular;
  background-color: #b1d5e9;
}

#root {
  height: inherit;
}
