@import "sccs/fonts";
@import "sccs/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  font-family: $proxima-nova-regular;
  //height: 100%;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  height: inherit;
}

.wrapper {
  height: inherit;
}
