@import "sccs/variables";
@import "~bootstrap";
@import "sccs/fonts";
@import "sccs/form";
@import "sccs/btn";
@import "sccs/hero";
@import "sccs/footer";
@import "sccs/app";

html,
body {
  width: 100%;
  height: 100%;
  //overflow-x: hidden;
  font-family: $proxima-nova-regular;
  //background-color: #b1d5e9;
  background-color: rgb(166, 202, 99);
}

#root {
  width: inherit;
  height: inherit;
}
