.app {
  width: inherit;
}

@include media-breakpoint-up(lg) {
  .app {
    height: inherit;
  }
}

@media (min-height: 700px) {
  .app {
    height: inherit;
  }
}

.app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@include media-breakpoint-up(md) {
  .app-wrapper {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
