.footer {
  font-size: 10px;

  & a {
    color: $black;

    &:hover {
      color: $primary;
    }
  }
}

@include media-breakpoint-up(sm) {
  .footer {
    font-size: 12px;
  }
}

@include media-breakpoint-up(xl) {
  .footer {
    font-size: 1rem;
  }
  .footer .copyright {
    font-size: 12px;
  }
}
