.calobs-form .form-label {
  //margin-bottom: 4px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: $proxima-nova-semi-bold;
  line-height: 1.2;

  & label {
    margin-bottom: 0;
  }
}

.calobs-form .custom-control-label {
  font-size: 14px;
  font-family: $proxima-nova-semi-bold;
}

.calobs-form .form-control {
  height: 40px;
  font-family: $proxima-nova-semi-bold;

  &::placeholder {
    color: #979797;
    font-size: 10px;
    line-height: 12px;
  }
}

.calobs-form select {
  font-size: 10px;
  line-height: 12px;
}

@include media-breakpoint-up(lg) {
  .calobs-form .form-label {
    font-size: 15px;
  }

  .calobs-form .custom-control-label {
    font-size: 15px;
  }

  .calobs-form .form-control {
    height: 50px;

    &::placeholder {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .calobs-form select {
    font-size: 14px;
  }
}
