// form label
$form-label-font_size: 14px !default;
$form-label-line-height: 1.25 !default;

// form control
$form-control-font-size: 10px !default;
$form-control-lg-font-size: 14px !default;
$form-control-line-height: 2.5 !default;
$form-control-lg-line-height: $form-control-line-height !default;

$form-control-height: 40px !default;
$form-control-lg-height: 50px !default;
$form-control-color: #979797 !default;

.calobs-form .form-title {
  margin-bottom: 1.25rem;
  font-family: $proxima-nova-bold;
}

.calobs-form .form-label,
.calobs-form .custom-control-label {
  font-size: $form-label-font_size;
  font-family: $proxima-nova-semi-bold;
}

.calobs-form .form-label {
  margin-bottom: 0;
  line-height: $form-label-line-height;

  & label {
    margin-bottom: 0;
  }
}

.calobs-form .form-control {
  height: $form-control-height;
  font-family: $proxima-nova-semi-bold;

  &::placeholder {
    color: $form-control-color;
    font-size: $form-control-font-size;
    line-height: $form-control-line-height;
  }

  &:focus {
    // placeholder (when focus)
    &::placeholder {
      color: transparent;
    }
  }
}

.calobs-form select {
  font-size: $form-control-font-size;
  line-height: $form-control-line-height;
}

@include media-breakpoint-up(lg) {
  .calobs-form {
    max-width: 550px;
  }

  .calobs-form .form-title {
    margin-bottom: 2.5rem;
  }

  .calobs-form .form-control {
    height: $form-control-lg-height;

    &::placeholder {
      font-size: $form-control-lg-font-size;
      line-height: $form-control-lg-line-height;
    }
  }

  .calobs-form select {
    font-size: $form-control-lg-font-size;
  }
}
